@import "tailwindcss";
@plugin '@tailwindcss/typography';

:root {
	--background: #ffffff;
	--foreground: #171717;

	--color-primary-50: #e0f2ff;
	--color-primary-100: #b3dcff;
	--color-primary-200: #80c4ff;
	--color-primary-300: #4daaff;
	--color-primary-400: #2696ff;
	--color-primary-500: #007aff;
	--color-primary-600: #006be6;
	--color-primary-700: #0054b3;
	--color-primary-800: #003d80;
	--color-primary-900: #00264d;
}


@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-primary: var(--color-primary-600);
	--color-primary-50: var(--color-primary-50);
	--color-primary-100: var(--color-primary-100);
	--color-primary-200: var(--color-primary-200);
	--color-primary-300: var(--color-primary-300);
	--color-primary-400: var(--color-primary-400);
	--color-primary-500: var(--color-primary-500);
	--color-primary-600: var(--color-primary-600);
	--color-primary-700: var(--color-primary-700);
	--color-primary-800: var(--color-primary-800);
	--color-primary-900: var(--color-primary-900);

}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-poppins), sans-serif;
}